site_name: ccp-volume-em-guide
site_url: https://ccp-volume-em.github.io/guide/
site_description: Community good practice guide

repo_name: guide
repo_url: https://github.com/ccp-volume-em/guide

plugins:
  - search

markdown_extensions:
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

nav:
  - index.md
  - overview.md

theme:
  name: material
  color_mode: auto
  user_color_mode_toggle: true
  logo: images/logo.png
